#app {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 15%,
      #dcdbd2 15%,
      #dcdbd2 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    height: 95%;
    width: 80%;
    min-width: 900px;
    background-color: #fff;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: #eaeaea;
    cursor: pointer;
}

header img {
    max-width: 50px;
    border-radius: 50%; 
    margin-right: 10px;
}

header i {
    font-size: 21px;
    color: #b1b1b1;
    cursor: pointer;
    transition: color .2s linear;
}

header i:hover {
    color: #0bceba;
}

.icons i {
    margin-right: 15px;
}

.side {
    height: 100%;
    width: 35%;
    background-color: #fff;
    border-right: 1px solid #d6d6d6;
    overflow-y: auto;
}

.side-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notice {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #8edafd;
    cursor: pointer;
    transition: background-color .2s linear;
}

.notice:hover {
    background-color: #0bceba;
}

.notice .informations p {
    text-decoration: underline;
    cursor: pointer;
    transition: color .2s linear;
}

.bell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.bell i {
    font-size: 20px;
    color: #8edafd;
}

.new-chat_container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.new-chat_icon {
    display: flex;
    align-items: center;
    padding: 6px 35px 6px 25px;
    border: 1px solid #f6f6f6;
    border-right: transparent;
    cursor: pointer;
}

.new-chat_icon i {
    font-size: 16px;
    color: #b1b1b1;
    cursor: pointer;
}

.new-chat {
    flex-grow: 1;
    border: 1px solid #f6f6f6;
    border-left: transparent;
    outline: none;
    height: 38px;
    padding: 12px 10px;
    font-size: 10px;
    font-weight: 700;
}

.contacts_container {
    list-style: none;
    margin: 32px;
    overflow-y: auto;
}

.contacts{
    margin: 0!important;
}
.contacts li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #f6f6f6;
    transition: background-color .2s linear;
    cursor: pointer;
}
  
.contacts li:last-child {
    border-bottom: none;
}
  
.contacts li:hover {
    background-color: #eaebeb;
}
  
.contacts-user {
    display: flex;
    align-items: center;
}
  
.contacts-user img {
    max-width: 55px;
    margin-right: 10px;
    border-radius: 50%;
}
.contacts_last-chat{
    display: flex;
    align-items: center;
    font-size: 12px;
}

/* Contents box */
.contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    background-color: #eaeaea;
}

.contents-header {
    border-bottom: 2px solid #eaeaea;
    height: 64px;
}

.contents-header h4{
    margin-top: 16px!important;
    margin-bottom: 0px!important;
}

.contents-main {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 0 100px;
}

.contents-user {
    display: flex;
    align-items: center;
}

.contents-main .container-messages {
    width: 100%;
    list-style: none;
}

.contents-main .container-messages .message {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 155px;
    min-height: 50px;
    font-size: 14px;
    padding: 15px 5px 5px 10px;
    border-radius: 8px;
}

.contents-main .container-messages .message span {
    align-self: flex-end;
    font-size: 10px;
    margin-left: 20px;
    color: #b7b9bb;
}

.contents-main .container-messages .message.sent {
    float: right;
    background-color: #d5faba;
}

.contents-main .container-messages .message.received {
    background-color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    background-color: #f3eeeb;
}

footer .new-message {
   flex-grow: 1;
   border: none;
   outline: none;
   height: 45px;
   padding: 15px 12px;
   font-size: 12px;
}

 footer i {
    font-size: 23px;
    color: #72787b;
    cursor: pointer;
    transition: color .2s linear;
} 

footer i:hover {
    color: #0bceba;
}
  
.icon-left {
    margin-right: 35px;
}

.icon-right {
    margin-left: 35px;
}

  