<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boolzap</title>
    <!-- Stylesheet -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>

    <!-- Contenitore generale -->
    <div  class="container-fluid" :class='isContentClass' id="app">
      <!-- Contenitore principale -->
        <div class="container" id="box">
            <div class="row">
                <div class="side col-4 p-0" :class='isContentClass'>
                    <header class="side-header">
    
                        <div class="side-user">
                            <img src="img/avatar_8.jpg" alt="avatar">
                            <div class="informations d-none d-md-block">
                                <h4>Sono Lillo</h4>
                            </div>
                        </div>
    
                        <!-- Side icone -->
                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
    
                    </header>
    
                    <!-- Side main -->
                    <main>
                        <section class="notice">
                            <div class="bell d-none d-md-block">
                                <i class="fas fa-bell-slash"></i>
                            </div>
    
                            <div class="informations">
                                <h4 style="font-size: 18px;margin-bottom: 0;">Ricevi notifiche di nuovi messaggi</h4>
                                <p style="margin-bottom: 0;">Attiva notifiche desktop</p>
                            </div>
                        </section>
    
                        <!-- Sezione input chat -->
                        <section class="new-chat_container">
                            <div class="new-chat_icon">
                                <label for="new-chat">
                                <i class="fas fa-search"></i>
                                </label>
                            </div>
    
                            <input type="text" :class='isContentClass' id="new-chat" name="new-chat" class="new-chat" placeholder="Cerca o inizia una nuova chat"
                            v-model="userFiltered"
                            @keyup="filteredContacts">
                        </section>
    
                        <!-- Sezione contatti -->
                        <div class="contacts-container">
                            <ul class="contacts">
                                
                                <li :class='isContentClass' v-for='(contatto, index) in contacts' v-if="contatto.visible == true" @click="setActiveContact(index)" >
                                    <div class="contacts-user">
                                        <img class="d-none d-md-block" :src="'img/avatar'+ contatto.avatar +'.jpg'" alt="avatar">
                                        <div class="informations">
                                            <h4>{{contatto.name}}</h4>
                                        </div>
                                    </div>
                                    <span class="contacts_last-chat">{{ lastDateMessage(index) }}</span>
                                </li>
                            </ul>
                        </div>
    
                    </main>
    
                </div>
    
                <!-- Contents box -->
                <div class="contents col-8 p-0">
                    <header class="contents-header">
                        <div class="contents-user" >
                            <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'"  alt="avatar">
                            <div class="informations d-none d-md-block">
                                <h4>{{contacts[activeContact].name}}</h4>
                                <p>Ultimo accesso {{ lastDateMessage(activeContact) }}</p>
                            </div>
                        </div>
    
                        <!-- Contents icone -->
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-moon" @click='changeTheme'></i>
                        </div>
                    </header>
    
                    <!-- Contents main -->
                    <main class="contents-main" :class='isContentClass'>
    
                        <!-- Messaggi chat -->
                        <ul class="container-messages ">
                            
                            <li class="message" :class="message.status"  v-for="(message,index) in contacts[activeContact].messages" >
                                <span><i class="fas fa-chevron-down" @click='showElement(index)'></i>
                                    <ul v-if="openModal && msgIndex == index" class="message-options">
                                        <li>Info messaggio</li>
                                        <li @click="deleteMessage(index)">Cancella messaggio</li>
                                    </ul>
                                </span>
                                <p> {{ message.text }}</p>
                                <span>{{ message.date }}</span>
                            </li>
       
                        </ul>

                    </main>
    
                    <!-- Contents footer -->
                    <footer :class='isContentClass'>
                        
                        <i class="far fa-smile icon-left"></i>
                        
                        <input type="text" :class='isContentClass' class="new-message" placeholder="Scrivi un messaggio" ref='focusMe'
                        v-model = "userMessage"
                        @keyup.enter = "addMessage( activeContact )">
                        
                        <i class="fas fa-microphone icon-right active"></i>
                        
                        
                    </footer>
                </div>    

            </div>
            
        </div>

    </div>

    <script src="js/script.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  </body>
</html>